.play-button {
  margin: 0;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button-triangle {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
  clip-path: polygon(0 0, 0 100%, 100% 50%);

  margin-left: 10%;
  width: 33%;
  height: 33%;
  background-color: black;
}

/* Chevron */
.chevron::before {
  content: "";
  border-style: solid;
  border-width: 1px 1px 0 0;

  display: inline-block;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
}
