.iphone-14-page {
  background-color: #000;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#iphone-14-intro-video {
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.5);
}

.intro-text {
  padding: 5px;
  font-size: 56px;
  font-weight: 600;
  position: fixed;
  margin-bottom: 1rem;
  width: min(834px, 90%);

  transform: translateY(-50%);
  top: 50%;

  color: transparent;
  background: url("../assets/images/ihone-14-intro-text-background.jpg");

  -webkit-text-fill-color: transparent;

  background-repeat: repeat-y;

  -webkit-font-smoothing: antialiased;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  background-clip: text;
}

.iphone-color-item {
  color: white;
}

.iphone-14-color-container {
  margin: 3000px 0 500px 0;
  display: flex;
  align-items: center;
}

.iphone-14-color-container > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.iphone-14-color-container > ul {
  display: block;
  margin: 0 auto;
  transform: translateX(min(350px, 38vw));
}

.iphone-14-color-container > ul > .active {
  color: white;
}

.iphone-color-item {
  margin: 1.5rem;

  cursor: pointer;
  font-size: 21px;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.25);
}

.iphone-fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}

.iphone-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

.iphone-14-color-container__text {
  color: #cecece;
  font-size: 32px;
  font-weight: 600;
  width: 490px;
}

.iphone-14-color-container__text p:first-child {
  margin-bottom: 26px;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dynamic-island-video {
  animation: fade-in 0.2s ease-in-out forwards;
}

.dynamic-island-max-size {
  animation: fade-out 0.2s ease-in-out forwards;
}

.moving-picture {
  position: relative;
}

@media screen and (max-width: 1068px) {
  .intro-text {
    font-size: 40px;
  }

  .iphone-14-color-container__text {
    font-size: 24px;
    width: 346px;
  }
}

@media screen and (max-width: 734px) {
  .intro-text {
    font-size: 28px;
  }

  .iphone-14-color-container > ul {
    transform: translateY(-450px);
    margin: 50px;
  }

  .iphone-14-color-container__text {
    font-size: 21px;
    width: 70%;
  }
}
