#root {
  --nav-bg: rgba(0, 0, 0, 0.8);
  --nav-color: #f5f5f7;
  --nav-hover: #f5f5f7;
  --nav-height: 44px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Globals */
.pointer {
  cursor: pointer;
}

/* Navbar */
.navbar--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: var(--nav-height);
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: var(--nav-bg);

  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.navbar--wrapper > li {
  list-style: none;
}

.navbar--wrapper > li > * {
  text-decoration: none;
  display: inline-block;
  transition: 150ms;
  padding: 0 8px;
  color: var(--nav-color);
  height: var(--nav-height);
  display: inline;

  font-size: 12px;
}

.navbar--wrapper > li > *:hover {
  color: var(--nav-hover);
}
