#root {
  --nav-bg: rgba(0, 0, 0, 0.8);
  --nav-color: #f5f5f7;
  --nav-hover: #f5f5f7;
  --nav-height: 44px;

  --text-col: white;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"), url("./fonts/SF-Pro-Display-Regular.otf"), format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

div {
  max-width: 3000px;
  margin: 0 auto;
  width: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* Globals */
.text-white {
  color: white;
}

.text-black {
  color: black;
}

.pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.btn-blank {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Navbar */
.navbar--wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: var(--nav-height);

  display: flex;
  justify-content: center;

  background: var(--nav-bg);
  color: var(--nav-color);

  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  /* gap: min(1.7vw, 30px); */
  gap: 27px;

  z-index: 10000;
}

.navbar--wrapper > li {
  margin: 0;
  transition: 0.15s;
  font-size: 12px;
  height: inherit;
  display: flex;

  filter: brightness(0.6);
}

.navbar--wrapper > li > * {
  display: inline-block;
  height: inherit;
  padding: 0 8px;
  vertical-align: middle;
  line-height: var(--nav-height);
  white-space: nowrap;
}

.navbar--wrapper > li:hover {
  filter: brightness(0.8);
}

/* Cards */
.card-big {
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 12px;
}

.card-big--accessibility {
  color: white;
}

.card-big h2 {
  font-size: 54px;
  letter-spacing: -2px;
  font-weight: 600;
}

.card-big h3 {
  font-size: 27px;
  font-weight: normal;
  letter-spacing: -0.4px;
  margin-top: 5px;
}

.card-big a {
  font-size: 20px;
  font-weight: normal;
  margin-top: 15px;
}

.card-big a:hover {
  text-decoration: underline;
}

.card-big--iphone14-content {
  transform: translateY(-155%);
}

@media screen and (max-width: 734px) {
  .card-big--iphone14-content {
    transform: translateY(-145%);
  }
}

.card-big--accessibility a {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.card-big-top-text > div > div {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.card-big-top-text a {
  color: #0066cc;
}

/* Small Cards */
.card-small-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 12px;
}

@media screen and (max-width: 734px) {
  .card-small-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
}

.card-small--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.card-small a {
  color: #0066cc;
}

.card-small a:hover {
  text-decoration: underline;
}

.card-small a:nth-of-type(2) {
  margin-left: 28px;
}

.card-small h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.4px;
  margin-top: 10px;
}

.card-small h3 {
  font-size: 21px;
  font-weight: normal;
  letter-spacing: -0.4px;
  margin-top: 5px;
}

.card-small--emoji--content h2 {
  transform: translateY(500px);
}

.card-small--emoji--content h3 {
  transform: translateY(500px);
  width: min(75%, 400px);
}

.card-small--emoji--content a {
  transform: translateY(500px);
  display: block;
}

@media screen and (max-width: 734px) {
  .card-small--emoji--content h2 {
    transform: translateY(350px);
  }

  .card-small--emoji--content h3 {
    transform: translateY(350px);
  }

  .card-small--emoji--content a {
    transform: translateY(350px);
  }
}

.card-small--airpods--content::before {
  content: "";
  background: url("https://www.apple.com/v/home/aw/images/logos/airpods-holiday-2022/promo_logo_airpods_holiday__uzkw355klvmy_medium.png")
    no-repeat;
  width: 30px;
  height: 33px;
}
