#root {
  --nav-bg: rgba(0, 0, 0, 0.8);
  --nav-color: #f5f5f7;
  --nav-hover: #f5f5f7;
  --nav-height: 44px;

  --text-col: white;

  /* Sizes for media queries */
  --size-medium: 1068px;
  --size-small: 734px;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"), url("./fonts/SF-Pro-Display-Regular.otf"), format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

div {
  max-width: 3000px;
  margin: 0 auto;
  width: 100%;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  background-color: white;
  padding-bottom: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* Globals */
.text-white {
  color: white;
}

.text-black {
  color: black;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
  width: 0;
}

.capitalize {
  text-transform: capitalize;
}

.btn-blank {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.unstyled-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Cards */
.card-big {
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 12px;
}

.card-big--accessibility {
  color: white;
}

.card-big h2 {
  font-size: 54px;
  letter-spacing: -2px;
  font-weight: 600;
}

.card-big h3 {
  font-size: 27px;
  font-weight: normal;
  letter-spacing: -0.4px;
  margin-top: 5px;
}

.card-big a {
  font-size: 20px;
  font-weight: normal;
  margin-top: 15px;
}

.card-big a:hover {
  text-decoration: underline;
}

.card-big--iphone14-content {
  transform: translateY(-155%);
}

.card-big--accessibility a {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.card-big-top-text > div > div {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.card-big-top-text a {
  color: #0066cc;
}

/* Small Cards */
.card-small-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 12px;
}

.card-small--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.card-small a {
  color: #0066cc;
}

.card-small a:hover {
  text-decoration: underline;
}

.card-small a:nth-of-type(2) {
  margin-left: 28px;
}

.card-small h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.4px;
  margin-top: 30px;
}

.card-small h3 {
  font-size: 21px;
  font-weight: normal;
  letter-spacing: -0.4px;
  margin-top: 5px;
}

.card-small--emoji--content h2 {
  transform: translateY(500px);
}

.card-small--emoji--content h3 {
  transform: translateY(500px);
  width: min(75%, 400px);
}

.card-small--emoji--content a {
  transform: translateY(500px);
  display: block;
}

.card-small--airpods--content::before {
  content: "";
  background: url("https://www.apple.com/v/home/aw/images/logos/airpods-holiday-2022/promo_logo_airpods_holiday__uzkw355klvmy_medium.png")
    no-repeat;
  width: 30px;
  height: 33px;

  transform: translateY(25px);
}

.small-card--ipad-pro--content h3 {
  transform: translateY(-8px);
}

.small-card--ipad-pro--content h3::after {
  content: "";
  display: inline-block;
  background: url("https://www.apple.com/v/home/aw/images/logos/ipad-pro/promo_m2_chip__enw2kz91lsuq_large.png")
    no-repeat;

  width: 35px;
  height: 33px;

  transform: translateY(8px);
  margin-left: 10px;
}

.small-card--watch--content h3::before {
  content: "";
  display: block;
  background: url("https://www.apple.com/v/home/aw/images/logos/apple-watch-series-8/promo_logo_apple_watch_series_8__ee6riplsucuq_large.png")
    no-repeat;

  width: 137px;
  height: 52px;
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
  /* Big Cards */

  /* Push the text of the iphone-14 content down */
  .card-big--iphone14-content {
    transform: translateY(-145%);
  }

  /* Small Cards */
  .card-small-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }

  .card-small--emoji--content h2 {
    transform: translateY(350px);
  }

  .card-small--emoji--content h3 {
    transform: translateY(350px);
  }

  .card-small--emoji--content a {
    transform: translateY(350px);
  }
}
